DB_NAME=intranet
DB_USER=intranet
DB_PASSWORD=troque_por_uma_senha_longa
DB_PORT=5434
ARTHUR_INITIAL_PASSWORD=troque_por_uma_senha_longa
FELIPE_INITIAL_PASSWORD=troque_por_uma_senha_longa
SESSION_COOKIE_SECURE=false
HUB_AI_TOKEN=
